<html>
<head>
    <title>Enterprise Linux Automation</title>
</head>

<body>
    <h1>Enterprise Linux Infrastructure Automation</h1>
    <p>Apache Web Server deployed successfully using Ansible.</p>
</body>
</html>
